<div class="container">

    <div class="carousel">

        <div class="selector">
            <button class="btns"></button>
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>

        <h3 class="name">Steven LATOR</h3>

        <p class="desc">Jeune alternant, développeur en devenir passionné par la technologie et éternel utopiste quand au futur de celle-ci. </p> 
        <p class="desc">Grand dégourdi, il aime le sport, mais tout particulièrement le handball, la moto et tout ce qui touche à l'art de savoir faire de ses mains,  allant ainsi du travail de la matière dans le bricolage à sa modélisation via l'impression 3D en passant par la domotique et l'électronique.</p>

        <img src="assets/img/steven.png" class="pic">
        
    
    </div>
</div>