<div class="container">

  <div class="carousel">


    <div *ngFor="let member of members; let index = index" class="member {{index === visible ? 'visible' : ''}}">
      <div class="content">
        <h2>{{member.name}}</h2>
        <p>{{member.description}}</p>
        <app-button>Contactez-moi</app-button>
      </div>
      <div class="image-container">
        <img class="float-left" src="../../../../assets/img/team/{{member.picture}}.png" alt="">
      </div>
    </div>

    <div class="selector">
      <button *ngFor="let member of members; let index = index" (click)="handleImageClick(index)" class="btn {{index === visible ? 'active' : ''}}"></button>
    </div>
  </div>
</div>
