@import "../../../styles";

header {
  display: flex;
  align-items: center;
  margin-bottom: 100px;

  .burger {
    width: 150px;
    text-align: center;

    img {
      width: 44px;
      height: 24px;
      cursor: pointer;
    }
  }

  .container {
    height: 200px;
    display: flex;
    align-items: center;

    h3 {
      color: $grey;
    }
  }
}
