@import "../../../styles";

header {
  display: flex;
  align-items: center;
  margin-bottom: 100px;

  .sidebar {
    width: 150px;
    text-align: center;
    z-index: 5;

    .burger {
      margin: 0 auto;
      width: 44px;
      height: 24px;
      cursor: pointer;

      &.exit {

        #burger-1 {
          transform: rotate(45deg);
          transform-origin: center;
        }

        #burger-2 {

        }

        #burger-3 {
          transform: rotate(-45deg);
          transform-origin: center;
        }
      }
    }
  }

  .container {
    height: 200px;
    display: flex;
    align-items: center;

    h3 {
      color: $green;
    }
  }
}
