<main class="container">
  <div class="sidebar">
    <p>
      01<span> / 03</span>
    </p>
    <div class="scroll">
      <p>scroll</p>
      <img src="./assets/img/arrow.svg" alt="arrow">
    </div>
  </div>
  <div class="content">
    <div class="left">
      <h1>Donnez vie à notre <span class="green">avenir</span></h1>
      <app-button>Partez maintenant</app-button>
      <ul>
        <li><a href="#expeditions">Expéditions</a></li>
        <li><a href="#donations">Donations</a></li>
        <li><a href="#live">Live</a></li>
      </ul>
    </div>
    <div class="right">
      <img src="./assets/img/homepage/vietnam.png" alt="vietnam">
      <p class="watermark">VIETNAM</p>
    </div>
  </div>
</main>
