main {
  display: flex;

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 200px);

    p span {
      transform: rotate(90deg);
    }
  }

  .content {
    display: flex;

    .left {

    }

    .right {

    }
  }
}
