@import "../../../styles.scss";

main {
  display: flex;

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 250px);
    padding: 15px;

    p span {
      color: $grey;
      writing-mode: vertical-lr;
      margin-top: 5px;
    }

    .scroll p {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  .content {
    display: flex;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;

      div h1 {
        margin-bottom: 10%;
        width: 600px;
        position: relative;
      }

      ul {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        li a {
          color: $grey;

          &:hover {
            color: $white;
            transition: color .2s ease-in-out;
          }
        }
      }
    }

    .right {
      width: 70%;

      .main-img {
        position: absolute;
        top: 0;
        right: 0;
        height: calc(100vh - 50px);
        width: 60%;
        object-fit: cover;
        z-index: -1;
      }

      .actualite {
        display: flex;
        justify-content: space-between;
        width: 600px;
        height: 200px;
        position: absolute;
        bottom: 50px;
        right: 0;
        background-color: $darkGrey;
        cursor: pointer;

        &:hover .actu-right .arrow {
          transform: translateX(200px);
        }

        .actu-left {
          padding: 40px 50px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .grey {
            font-size: 14px;
            color: $grey;
          }

          div p {
            margin-bottom: 15px;
          }

          div .green {
            font-size: 14px;
          }
        }

        .actu-right {
          width: 250px;
          position: relative;

          img {
            width: 250px;
            height: 200px;
            opacity: 80%;
          }

          .arrow {
            width: 70px;
            position: absolute;
            bottom: 0;
            right: 50%;
            transform: translateX(50%);
            transition: transform .3s ease-in-out;
          }
        }
      }
    }
  }
}
