<div class="home">
  <div class="sidebar">
    <p>
      01<br><span> / 03</span>
    </p>
    <div class="scroll">
      <p>scroll</p>
      <img src="../../../assets/img/arrow-green.svg" alt="arrow">
    </div>
  </div>
  <main class="container">
    <div class="content">
      <div class="left">
        <div>
          <h1>Donnez vie à notre <span class="green">avenir</span></h1>
          <app-button>Partez maintenant</app-button>
        </div>
        <ul>
          <li><a href="#expeditions">Expéditions</a></li>
          <li><a href="#donations">Donations</a></li>
          <li><a href="#live">Live</a></li>
        </ul>
      </div>
      <div class="right">
        <img class="main-img" src="./assets/img/homepage/vietnam.png" alt="vietnam">
        <div class="actualite">
          <div class="actu-left">
            <p class="grey">Dernière actualité</p>
            <div>
              <p>La déforestation en Amazonie</p>
              <a class="green">En savoir plus</a>
            </div>
          </div>
          <div class="actu-right">
            <img src="./assets/img/homepage/amazonie.png" alt="amazonie">
            <img class="arrow" src="../../../assets/img/arrow-white.svg" alt="arrow">
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
