<br>
<div class="title"><h1>ExpEdition</h1>
<h2>Un voyage à l'autre bout du monde pour donner vie à notre avenir.</h2>


<div class="center-div">
    <mdb-carousel class="carousel slide carousel-fade w-50" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/amz.jpg">
        <div class="mask waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Amazonie</h3>
        <p>ExpEdition longue : Pour ceux qui enlace les arbres en foret</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/inde.jpg">
        <div class="mask waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Inde</h3>
        <p>ExpEdition moyenne : pour les amoureux de la nature</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/et.jpg">
        <div class="mask waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Etats-Unis</h3>
        <p>ExpEdition courte : pour les planteurs en herbe</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<br>
<p class="title">Permettre à chacun de créer une partie saine de l'avenir. ExpEdition vous permet de vous rendre à l'autre bout du mode et de planter afin de creer des fôrets pour assurer l'avenir.</p>
<br>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <mdb-card>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Amazonie</h4>
              </mdb-card-title>
              <mdb-card-text>Repeupler la grande fôret d'Amazonie.</mdb-card-text>
              <div class="flex-row">
                <a class="card-link">Durée : 1 mois</a>
                <a class="card-link">Tarifs : 300 €</a>
              </div>
              <button type="button" mdbBtn class="forestgreenlite btn" mdbWavesEffect>Reserver</button>
            </mdb-card-body>
          </mdb-card>
      </div>
      <div class="col-sm">
        <mdb-card>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Inde</h4>
              </mdb-card-title>
              <mdb-card-text>Planter des arbres sur le territoire Indien.</mdb-card-text>
              <div class="flex-row">
                <a class="card-link">Durée : 15 jours</a>
                <a class="card-link">Tarifs : 200 €</a>
              </div>
              <button type="button" mdbBtn class="forestgreenlite btn" mdbWavesEffect>Reserver</button>
            </mdb-card-body>
          </mdb-card>
      </div>
      <div class="col-sm">
        <mdb-card>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Etats-Unis</h4>
              </mdb-card-title>
              <mdb-card-text>Make America Great Again... c'est aussi en foret</mdb-card-text>
              <div class="flex-row">
                <a class="card-link">Durée : 7 jours</a>
                <a class="card-link">Tarifs : 100 €</a>
              </div>
              <button type="button" mdbBtn class="forestgreenlite btn" mdbWavesEffect>Reserver</button>
            </mdb-card-body>
          </mdb-card>
      </div>
    </div>
  </div>
  <br>






