<mdb-card class="post-card">
  <!--Card image-->
  <mdb-card-img class="post-card-img" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                alt="Card image cap"></mdb-card-img>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <p class="post-card-date">17 mars 2021</p>

    <!--Title-->
    <mdb-card-title class="post-card-title">
      <h4>Card Title</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
      content.
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
