// COLORS
$green: #50AA8D;
$white: #ffffff;
$grey: #616161;
$darkGrey: #232323;

// REMOVE BASIC STYLING
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darkGrey;
  color: $white;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;

  li a {
    text-decoration: none;
    color: $white;
  }
}

// TITLES
h1 {
  font-size: 64px;
  font-family: 'Montserrat', sans-serif;

  &.hero-title {
    font-size: 96px;
  }
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

p{
  font-size: 18px;
}

.green {
  color: $green;
}

// CONTAINER
.container {
  width: 1440px;
  margin: 0 auto;

  .content {
    width: 100%;
  }
}

.sidebar {
  width: 150px;
}

// NAVBAR
body {
  transition: transform .5s ease-in-out;
}

.open {
  transform: translateX(400px);
}
