// COLORS
$green: #50AA8D;
$white: #ffffff;
$grey: #616161;
$darkGrey: #232323;

// REMOVE BASIC STYLING
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darkGrey;
  color: $white;
  font-family: 'Roboto', sans-serif;
}

// TITLES
h1 {
  font-size: 64px;
  font-family: 'Montserrat', sans-serif;

  &.hero-title {
    font-size: 96px;
  }

  span {
    color: $green;
  }
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

p{
  font-size: 18px;
}

// CONTAINER
.container {
  width: 1440px;
  margin: 0 auto;
}

.cta {
  width: 250px;
  height: 70px;
  color: $white;
  background-color: transparent;
  border: 3px solid $green;
  border-radius: 35px;
  font-size: 18px;
}
