@import "./src/styles";

.expedition {
  display: flex;

  h1 {
    margin-bottom: 100px;
  }

  .flex {
    display: flex;
    justify-content: space-between;

    .images {
      position: relative;
      width: 600px;
      height: 400px;

      img {
        position: absolute;
        width: 600px;
        height: 400px;
      }

      #img_1 {
        z-index: 3;
      }

      #img_2 {
        transform: translate(-40px, 20px);
        z-index: 2;
      }

      #img_3 {
        transform: translate(-80px, 40px);
        z-index: 1;
      }
    }

    .container-description {
      width: 400px;
      height: 400px;
      background: rgba(255, 255, 255, 0.02);
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-family: Montserrat;
        color: #FFFFFF;
      }

      h3 {
        color: rgba(255, 255, 255, 0.2);
      }

      p {
        color: #50AA8D;
      }
    }
  }
}

/*
h2{
   font-family: Montserrat;
   font-weight: 700;
   font-style: normal;
   font-size: 48px;
   line-height: 58.51px;
   text-align: center;
   color: #FFFFFF;
   padding-bottom: 50px;
}

h3{

   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 21px;
   line-height: 25px;
   text-align: center;
   color: rgba(255, 255, 255, 0.2);
   padding-bottom: 30px;
}

p{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   color: #50AA8D;
   padding-bottom: 30px;
}


 #img_1 {
   position: absolute;
   width: 600px;
   height: 400px;
   left: 181px;
   top: 402px;
    z-index: 3;
 }

 #img_2 {
   position: absolute;
   width: 600px;
   height: 400px;
   left: 159px;
   top: 419px;
    z-index: 2;
 }

 #img_3 {
   position: absolute;
   width: 600px;
   height: 400px;
   left: 135px;
   top: 429px;
   z-index: 1;
 }
 */


