<div>   
    <h1><span class="green">Exp</span>Édition</h1>
    
        <img id="img_1" class="superpose" src="../assets/img/expedition/vietnam.png" alt="foret-vietnam">
        <img id="img_3" class="superpose" src="../assets/img/expedition/amazonie.png" alt="foret-amazonienne">
        <img id="img_2" class="superpose" src="../assets/img/expedition/inde.png" alt="foret-inde">
    
    <div id="container-description" class="block">
        <h2>Vietnam</h2>
        <h3>Partez pour une courte expédition au Vietnam.</h3>
        <p>Recommandée pour les planteurs en herbe</p>
    </div>
</div>
